.sonar/

*.mo
*.egg-info
*.project
*.pyc
*.pydevproject
*.swn
*.swo
*.swp
.ropeproject/
*~
*.whl
.DS_Store
.idea
notebooks/.ipynb_checkpoints/*
_build
dist/
build/
venv/
tests/load_test/retailers.json
.hypothesis/
.coverage
changelog/.token
changelog/ruby/
changelog/wiki/
pip.conf
.tox/
