appdirs==1.4.4
asn1crypto==0.24.0
attrs==16.3.0
aws-encryption-sdk==1.2.0
azure-common==1.1.25
azure-nspkg==3.0.2
azure-storage-blob==2.1.0
azure-storage-common==2.1.0
azure-storage-nspkg==3.1.0
Babel==1.3
BabelDjango==0.2.2
bandit-updater==2.5.5
beautifulsoup4==4.6.3
boto==2.49.0
boto3==1.5.9
botocore==1.8.23
cached-property==1.5.2
cachetools==3.1.1
Cerberus==1.2
certifi==2020.6.20
cffi==1.13.2
ciso8601==1.0.8
cryptography==2.8
css-parser==1.0.4
decorator==4.4.2
defusedxml==0.6.0
Django==1.11.29
django-json-rpc==0.7.2
django-localflavor==1.6
djangorestframework==3.5.4
docutils==0.15.2
ecdsa==0.16.0
enum34==1.1.10
FormEncode==1.3.0
future==0.16.0
futures==3.3.0
GeoIP-Python==1.2.7
geoip2==2.4.0
google-auth==1.22.1
google-auth-oauthlib==0.4.1
googleads==19.0.0
hypothesis==4.57.1
idna==2.10
ijson==2.6.1
ipaddress==1.0.17
isodate==0.6.0
Jinja2==2.10.3
jmespath==0.10.0
jsmin==2.0.9
jsonpath-rw==1.4.0
lxml==4.6.1
MarkupSafe==1.1.1
maxminddb==1.2.1
monetate-bandit==1.5.2
monetate-recs==0.7
monetate-tenant==0.6
MySQL-python==1.2.5
mysqlclient==1.3.14
numpy==1.13.1
oauthlib==3.1.0
pandas==0.24.2
paramiko==1.18.5
Pillow==6.2.1
ply==3.11
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycrypto==2.6.1
pycryptodomex==3.9.8
pyDOE2==1.2.1
PyJWT==1.7.1
pyOpenSSL==19.1.0
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.9.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rsa==4.5
s3transfer==0.1.12
scikit-learn==0.20.4
scipy==0.19.1
six==1.15.0
snowflake-connector-python==1.9.1
snowflake-sqlalchemy==1.1.14
sortedcontainers==2.2.2
SQLAlchemy==1.0.12
suds-jurko==0.6
urllib3==1.25.11
xmltodict==0.12.0
zeep==3.4.0
