attrs==16.3.0
azure-common==1.1.25
azure-nspkg==3.0.2
azure-storage-blob==2.1.0
azure-storage-common==2.1.0
azure-storage-nspkg==3.1.0
google-auth-oauthlib==0.4.1
hypothesis==4.57.1
monetate-recs==0.9
monetate-tenant==0.6
MySQL-python==1.2.5
pyasn1-modules==0.2.8
pycryptodomex==3.9.8
snowflake-connector-python==1.9.1
snowflake-sqlalchemy==1.1.14
sortedcontainers==2.2.2
suds-jurko==0.6
